@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,700;1,500&family=Kalam:wght@700&family=Montserrat:wght@100;400;700&family=Nova+Mono&family=Oxanium&family=Ysabeau:ital,wght@0,1;0,400;0,800;1,1&display=swap');
@import './variables.scss';

body {
    font-family: "Montserrat", sans-serif;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(24,6,61,1) 100%);
    color: white;
    margin: 0;
}

.botao {
    padding: 15px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: $amarelor;
    transition: 0.5s ease-out;
}

.botao:hover {
    background-color: $roxo-subtitulo;
    color: white;
}