$cinza-claro: hsl(0, 0%, 40%);
$cinza-meio-escuro: #121214;
$cinza: #212529;
$cinza-mais-escuro: #121214;
$cinza-bem-mais-escuro: #181a1b;

$azul-unir: #251744;
$azul: #20b8ff;

$roxor: #18063D;
$roxo-header: #140E23;
$amarelor: #DCFF07;
$vinnho: #470044;

$roxo-titulo: #9764FF;
$roxo-subtitulo: #6A26F1;